<div class="row">
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li ui-sref-active="active">
                        <a ui-sref="table.tablecheckcolumn">checkbox形的列</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="table.tablecolumn">自定义列</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="table.tabledatecolumn">日期列</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="table.tableimagecolumn">图片列</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="table.tableprogresscolumn">进度条列</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="table.tablestatecolumn">状态列</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9" ui-view>
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">使用</h4>

                        <p class="list-group-item-text">
                            <code>
                                &lt;ui-table&gt;&lt;/ui-table&gt;
                            </code>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">属性</h4>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>属性名</th>
                                <th>默认值</th>
                                <th>是否必须</th>
                                <th>描述</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>ref</td>
                                <td>$table</td>
                                <td>否</td>
                                <td>类似id, 用于在scope中获取</td>
                            </tr>
                            <tr>
                                <td>state-key</td>
                                <td></td>
                                <td>否</td>
                                <td>如果设置这个, 将会把表格的排序, 列选择给缓存, 保证下次访问</td>
                            </tr>
                            <tr>
                                <td>nopage</td>
                                <td>false</td>
                                <td>否</td>
                                <td>是否分页</td>
                            </tr>
                            <tr>
                                <td>manual</td>
                                <td>false</td>
                                <td>否</td>
                                <td>false为手动请求数据, true为自动请求数据</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">方法</h4>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>方法名</th>
                                <th>描述</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>getDataAtIndex(rowIndex)</td>
                                <td>获取某行的数据</td>
                            </tr>
                            <tr>
                                <td>getIdByIndex(rowIndex)</td>
                                <td>获取某行主键值(只有添加了选择列才会获取的到)</td>
                            </tr>
                            <tr>
                                <td>getIdByData(rowData)</td>
                                <td>获取数据的主键值(只有添加了选择列才会获取的到)</td>
                            </tr>
                            <tr>
                                <td>containItem(rowData)</td>
                                <td>当然数据集中是否包含该数据</td>
                            </tr>
                            <tr>
                                <td>getDomsByColumnIndex(rowIndex)</td>
                                <td>获取某一列的所有td</td>
                            </tr>
                            <tr>
                                <td>refresh(params[查询参数], url[换一个请求地址])</td>
                                <td>只会刷新当前页</td>
                            </tr>
                            <tr>
                                <td>jumpTo(index[页数])</td>
                                <td>跳转指定页面</td>
                            </tr>
                            <tr>
                                <td>getCurrentPage()</td>
                                <td>获取当前页</td>
                            </tr>
                            <tr>
                                <td>search(params[查询参数], url[换一个请求地址])</td>
                                <td>刷新跳转到第一页</td>
                            </tr>
                            <tr>
                                <td>cleanSelect(isAll[是否情况全选包括跨页的])</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>selectItems</td>
                                <td>获取选中的数据集合</td>
                            </tr>
                            <tr>
                                <td>selectValues</td>
                                <td>获取选中的数据ID集合</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">事件</h4>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>事件名</th>
                                <th>参数</th>
                                <th>触发</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>uitable.dataSuccess</td>
                                <td>(evt)</td>
                                <td>当数据加载成功触发</td>
                            </tr>
                            <tr>
                                <td>uitable.renderSuccess</td>
                                <td>(evt)</td>
                                <td>当数据渲染完成触发</td>
                            </tr>
                            <tr>
                                <td>uitable.dateFail</td>
                                <td>(evt)</td>
                                <td>当数据加载失败触发</td>
                            </tr>
                            <tr>
                                <td>uitable.refreshData</td>
                                <td>(evt)</td>
                                <td>当刷新数据之前时候触发</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
