<div id="tableStateColumn" class="panel panel-success">
    <div class="panel-heading">UITableStateColumn</div>
    <div class="panel-body">
        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">使用</h4>
                <p class="list-group-item-text">
                    <code>
                        &lt;ui-table-state-column&gt;<br/>
                        &nbsp;&nbsp;&lt;span class="red" state="0"&gt;0&lt;/span&gt;<br/>
                        &nbsp;&nbsp;&lt;span class="red" state="1"&gt;1&lt;/span&gt;<br/>
                        &lt;/ui-table-state-column&gt;<br/>
                    </code>
                </p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">属性</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>属性名</th>
                        <th>默认值</th>
                        <th>是否必须</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>name</td>
                        <td></td>
                        <td>是</td>
                        <td>数据的键名</td>
                    </tr>
                    <tr>
                        <td>default</td>
                        <td></td>
                        <td>否</td>
                        <td>如果所有状态列都找不到的话,默认用这个值找状态列</td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </div>
    </div>
</div>