<div class="panel panel-default">
    <div class="panel-body">
<h4>导入css</h4>
<pre>
&lt;link rel="stylesheet" href="output/css/all.css"/&gt;
</pre>

        <h4>导入js</h4>
<pre>
<!-- 库包 -->
&lt;script src="output/js/lib.js"&gt;&lt;/script&gt;

<!-- Tree包 -->
如果要用树的话
&lt;script src="http://pic.ofcard.com/themes/admin/plugins/zTree/jquery.ztree.core-3.5.min.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="http://pic.ofcard.com/themes/admin/plugins/zTree/jquery.ztree.excheck-3.5.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="http://pic.ofcard.com/themes/admin/plugins/zTree/jquery.ztree.exedit-3.5.js" type="text/javascript"&gt;&lt;/script&gt;

<!-- 组件包 -->
&lt;script src="output/js/all.js"&gt;&lt;/script&gt;
</pre>

        <h4>直接使用组件</h4>
<pre>
html
&lt;body ng-app="admin"&gt; 即可
</pre>

        <h4>自定义模块</h4>
<pre>
js
angular.module('customApp', ['admin', 'ui-router']);

html
&lt;body ng-app="customApp"&gt; 即可
</pre>
    </div>
</div>