<div class="panel panel-default">
    <div class="panel-body">
        <h2>导入css</h2>
<pre>
&lt;link rel="stylesheet" href="output/css/all.css"/&gt;
</pre>

        <h2>导入js</h2>
<pre>
&lt;script src="output/js/lib.js"&gt;&lt;/script&gt;
&lt;script src="output/js/all.js"&gt;&lt;/script&gt;
</pre>

        <h2>直接使用组件</h2>
<pre>
html
&lt;body ng-app="admin"&gt; 即可
</pre>

        <h2>自定义模块</h2>
<pre>
js
angular.module('customApp', ['admin', 'ui-router']);

html
&lt;body ng-app="customApp"&gt; 即可
</pre>
    </div>
</div>