<div id="searchSelect" class="panel panel-success">
    <div class="panel-body">
        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">案例</h4>
                <p class="list-group-item-text">
                    <ui-search-select label="请选择">
                        <option value="1">1</option>
                        <option value="1">2</option>
                    </ui-search-select>
                </p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">使用</h4>
                <p class="list-group-item-text">
                    <code>
                        &lt;ui-search-select&gt;&lt;/ui-search-select&gt;
                    </code>
                </p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">属性</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>属性名</th>
                        <th>默认值</th>
                        <th>是否必须</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ref</td>
                        <td>$searchSelect</td>
                        <td>否</td>
                        <td>类似id, 用于在scope中获取</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td></td>
                        <td>是</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>model</td>
                        <td></td>
                        <td>否</td>
                        <td>转换为ng-model</td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">方法</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>方法名</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>setData(data[下拉数据], isClean[是否清空之前])</td>
                        <td>动态设置下拉显示的数据</td>
                    </tr>
                    <tr>
                        <td>change(callback[回调函数])</td>
                        <td>监听数据变动事件</td>
                    </tr>
                    <tr>
                        <td>val(v)</td>
                        <td>类似jquery的val</td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </div>
    </div>
</div>