<div id="searchInputSelect" class="panel panel-success">
    <div class="panel-body">
        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">案例</h4>

                <p class="list-group-item-text">
                    <ui-search-input-select>
                        <option value="userid">userid</option>
                        <option value="username">username</option>
                    </ui-search-input-select>
                </p>
                <p class="list-group-item-text">
                    <ui-search-input-select select-name="selectName" input-name="inputName">
                        <option value="1">id</option>
                        <option value="2">name</option>
                    </ui-search-input-select>
                </p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">使用</h4>

                <p class="list-group-item-text">
                    <code>
                        &lt;ui-search-input-select&gt;&lt;/ui-search-input-select&gt;
                    </code>
                </p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">属性</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>属性名</th>
                        <th>默认值</th>
                        <th>是否必须</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ref</td>
                        <td>$searchInputSelect</td>
                        <td>否</td>
                        <td>类似id, 用于在scope中获取</td>
                    </tr>
                    <tr>
                        <td>select-name</td>
                        <td></td>
                        <td>否</td>
                        <td>和inputName必须同时设置, 获取同时不设置(那么input的name将会设置为select的value)</td>
                    </tr>
                    <tr>
                        <td>input-name</td>
                        <td></td>
                        <td>否</td>
                        <td>和selectName必须同时设置, 获取同时不设置(那么input的name将会设置为select的value)</td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">方法</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>方法名</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>select.xxx</td>
                        <td>见<a ui-sref="searchform.select">ui-search-select</a>对象的方法</td>
                    </tr>
                    <tr>
                        <td>input.xxx</td>
                        <td>见<a ui-sref="searchform.input">ui-search-input</a>对象的方法</td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </div>
    </div>
</div>