<div id="searchRegion" class="panel panel-success">
    <div class="panel-body">
        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">案例</h4>
                <p class="list-group-item-text">
                    <ui-search-region label="省市区"></ui-search-region>
                </p>
                <p class="list-group-item-text">
                    <ui-search-region mode="c" label="省市"></ui-search-region>
                </p>
                <p class="list-group-item-text">
                    <ui-search-region mode="p" label="省"></ui-search-region>
                </p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">使用</h4>
                <p class="list-group-item-text">
                    <code>
                        &lt;ui-search-region&gt;&lt;/ui-search-region&gt;
                    </code>
                </p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">属性</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>属性名</th>
                        <th>默认值</th>
                        <th>是否必须</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ref</td>
                        <td>$searchRegion</td>
                        <td>否</td>
                        <td>类似id, 用于在scope中获取</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td></td>
                        <td>是</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>model</td>
                        <td></td>
                        <td>否</td>
                        <td>转换为ng-model</td>
                    </tr>
                    <tr>
                        <td>mode</td>
                        <td>s</td>
                        <td>否</td>
                        <td>s为显示省市区, c为显示省市, p为显示省</td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item" style="display: none">
                <h4 class="list-group-item-heading">方法</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>方法名</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>val(v)</td>
                        <td>和jquery的val类似</td>
                    </tr>
                    <tr>
                        <td>reset()</td>
                        <td>清空选中的数据</td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </div>
    </div>
</div>