<div class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">状态列</h4>
        </div>
        <div class="modal-body">
            <ui-form ref="searchInputForm" column="1" ng-init="dds = []">
                <ui-form-input label="标题:" name="head"></ui-form-input>
                <ui-form-input label="数据项:" name="name"></ui-form-input>
                <ui-form-input label="状态模板:" model="tpl" help="下面的新状态将会根据你提供的数值显示"></ui-form-input>
                <ui-form-input label="默认状态:" name="default"></ui-form-input>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <button ng-click="dds.push({tpl: tpl})" class="btn btn-primary">添加新状态</button>
                        </div>
                        <div ng-repeat="dd in dds">
                            <input ng-model="dd.tpl" size="60" /> <button class="btn btn-danger" ng-click="dds.splice($index, 1)">-</button>
                        </div>
                    </div>
                </div>
            </ui-form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" ng-click="doAdd()">生成</button>
        </div>
    </div>
    <script>
        function SIS($scope){
            $scope.doAdd = function(){
                var dd = $scope.searchInputForm.formData();
                var c = [];
                $.each($scope.dds, function(i, item){
                    c.push(item.tpl);
                })
                dd = dd.concat([{name: '__content', value: c.join('\n')}])
                $scope.create('$table', 'ui-table-state-column', dd);
            }
        }
    </script>
</div>
