<div id="tree" class="panel panel-success">
    <div class="panel-body">
        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">使用</h4>
                <p class="list-group-item-text">
                    <code>
                        &lt;ui-tree&gt;<br/>
                        &lt;/ui-tree&gt;<br/>
                    </code>
                </p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">属性</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>属性名</th>
                        <th>默认值</th>
                        <th>是否必须</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>url</td>
                        <td></td>
                        <td>是</td>
                        <td>获取树的数据</td>
                    </tr>
                    <tr>
                        <td>on-before-click</td>
                        <td></td>
                        <td>否</td>
                        <td>判断是否可以点击, 回调函数名称, 要挂载在顶层controller里面</td>
                    </tr>
                    <tr>
                        <td>on-click</td>
                        <td></td>
                        <td>否</td>
                        <td>点击时触发, 回调函数名称, 要挂载在顶层controller里面</td>
                    </tr>
                    <tr>
                        <td>on-before-check</td>
                        <td></td>
                        <td>否</td>
                        <td>判断是否可以选中, 回调函数名称, 要挂载在顶层controller里面</td>
                    </tr>
                    <tr>
                        <td>on-check</td>
                        <td></td>
                        <td>否</td>
                        <td>选中时触发, 回调函数名称, 要挂载在顶层controller里面</td>
                    </tr>
                    <tr>
                        <td>search-model</td>
                        <td></td>
                        <td>否</td>
                        <td>如果设置该属性，那么会使用$scope.$watch(该属性), 实时过滤tree</td>
                    </tr>
                    <tr>
                        <td>on-add</td>
                        <td>false</td>
                        <td>否</td>
                        <td>当移动到树节点的时候会显示一个添加按钮</td>
                    </tr>
                    <tr>
                        <td>on-edit</td>
                        <td>false</td>
                        <td>否</td>
                        <td>当移动到树节点的时候会显示一个编辑按钮</td>
                    </tr>
                    <tr>
                        <td>on-del</td>
                        <td>false</td>
                        <td>否</td>
                        <td>当移动到树节点的时候会显示一个删除按钮</td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">方法</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>方法名</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>addTreeNodeBtn(label[标题], className[class名称], handler[点击后回调])</td>
                        <td>添加一个当移动到数节点上面的额外按钮</td>
                    </tr>
                    <tr>
                        <td>addTreeNodeBtnAtIndex(index[位置],label[标题], className[class名称], handler[点击后回调])</td>
                        <td>添加一个当移动到数节点上面的额外按钮到指定的位置</td>
                    </tr>
                    <tr>
                        <td>setData(data)</td>
                        <td>手动设置树的数据</td>
                    </tr>
                    <tr>
                        <td>expand(level[级别])</td>
                        <td>按级别展开树</td>
                    </tr>
                    <tr>
                        <td>expandById(id)</td>
                        <td>按id展开树</td>
                    </tr>
                    <tr>
                        <td>selectItems</td>
                        <td>获取树选中的数据集合</td>
                    </tr>
                    <tr>
                        <td>selectValues</td>
                        <td>获取树选中的数据ID集合</td>
                    </tr>
                    <tr>
                        <td>dataList</td>
                        <td>当然树的数据集合</td>
                    </tr>
                    <tr>
                        <td>dataMap</td>
                        <td>当前树的key-value集合，key为ID</td>
                    </tr>
                    <tr>
                        <td>getDataById()</td>
                        <td>获取数据</td>
                    </tr>
                    <tr>
                        <td>getHierarchyDataById(id)</td>
                        <td>获取数据的承继关系</td>
                    </tr>
                    <tr>
                        <td>getById(id)</td>
                        <td>获取节点</td>
                    </tr>
                    <tr>
                        <td>getHierarchyById(id)</td>
                        <td>获取节点的承继关系</td>
                    </tr>
                    <tr>
                        <td>filter(text)</td>
                        <td>过滤显示树</td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">事件</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>事件名</th>
                        <th>参数</th>
                        <th>触发</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>uitree.dataSuccess</td>
                        <td>(evt, dataList)</td>
                        <td>当数据请求成功后，可以对数据进行二次加工</td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </div>
    </div>
</div>