.form-control {
    height:31px;
}

.nav-tabs .fa-times{
    display: none;
}

.tabbable-close .nav-tabs .fa-times{
    display: inline-block;
    position: relative;
    right: -10px;
    cursor: pointer;
}

/***
风格切换按钮
***/
.theme-panel > .toggler {
    top: 3px;
    right: 0;
    padding: 6px;
    cursor: pointer;
    position: absolute;
    background: #E5E5E5 url(../img/icon-color.png) center no-repeat;
}
.page-container-bg-solid .theme-panel > .toggler {
    background: #E5E5E5 url(../img/icon-color.png) center no-repeat;
}
.page-container-bg-solid .theme-panel {
    position: absolute;
    margin-top: -1px;
    margin-right: 4px;
    right: 0;
}

.pagination {
    margin:0;
}

.input-group-addon {
    background-color: #fff;
}

.dropdown-menu {
    font-size:12px;
}

/***
Datatables Plugin(in v1.3)
***/
.dataTable {
    width: 100% !important;
    clear: both;
    margin-top: 5px;
}

.dataTables_filter label {
    line-height: 32px ;
}

.dataTable .row-details {
    margin-top: 3px;
    display: inline-block;
    cursor: pointer;
    width: 14px;
    height: 14px;
}

.dataTable .row-details.row-details-close {
    background: url("../img/datatable-row-openclose.png") no-repeat 0 0;
}

.dataTable .row-details.row-details-open {
    background: url("../img/datatable-row-openclose.png") no-repeat 0 -23px ;
}

.dataTable .details {
    background-color: #eee ;
}

.dataTable .details td,
.dataTable .details th {
    padding: 4px;
    background: none ;
    border: 0;
}

.dataTable .details tr:hover td,
.dataTable .details tr:hover th {
    background: none ;
}

.dataTable .details tr:nth-child(odd) td,
.dataTable .details tr:nth-child(odd) th {
    background-color: #eee ;
}

.dataTable .details tr:nth-child(even) td,
.dataTable .details tr:nth-child(even) th {
    background-color: #eee ;
}

.dataTable > thead > tr > th.sorting,
.dataTable > thead > tr > th.sorting_asc,
.dataTable > thead > tr > th.sorting_desc {
    padding-right: 18px;
}

.dataTable .table-checkbox {
    width: 8px !important;
}

@media (max-width: 768px) {
    .dataTables_wrapper .dataTables_length .form-control,
    .dataTables_wrapper .dataTables_filter .form-control {
        display: inline-block;
    }

    .dataTables_wrapper .dataTables_info {
        top: 17px;
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-top: -15px;
    }
}

@media (max-width: 480px) {
    .dataTables_wrapper .dataTables_filter .form-control {
        width: 175px !important;
    }

    .dataTables_wrapper .dataTables_paginate {
        float: left;
        margin-top: 20px;
    }
}

.dataTables_processing {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 125px;
    margin-left: 0;
    padding: 7px;
    text-align: center;
    color: #333;
    border: 1px solid #ddd;
    background-color: #eee;
    vertical-align: middle;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.dataTables_processing span {
    line-height:15px;
    vertical-align: middle;
}

.dataTables_empty {
    text-align: center;
}

.input-inline {
    margin-bottom: 4px;
}

.dataTables_info label {
    font-weight: normal;
    color: #999;
}

/***
Toastr Notifications
***/
.toast {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.toast {
    background-color: #030303;
}
.toast-success {
    background-color: #51a351;
}
.toast-error {
    background-color: #bd362f;
}
.toast-info {
    background-color: #2f96b4;
}
.toast-warning {
    background-color: #f89406;
}

.toast .toast-close-button {
    display: inline-block;
    margin-top: 0px;
    margin-right: 0px;
    text-indent: -100000px;
    width: 11px;
    height: 16px;
    background-repeat: no-repeat !important;
    background-image: url("../img/portlet-remove-icon-white.png") !important;
}

.toast-top-center {
    top: 12px;
    margin: 0 auto;
    left: 50%;
    margin-left: -150px;
}

.toast-bottom-center {
    bottom: 12px;
    margin: 0 auto;
    left: 50%;
    margin-left: -150px;
}
.input-group-addon{
    font-size: 12px;
}

/***
Font Awesome 4.0 Demo
***/
.fa-item {
    font-size: 14px;
    padding: 10px 10px 10px 20px;
}

.fa-item i {
    font-size: 16px;
    display: inline-block;
    width: 20px;
}

.fa-item:hover {
    cursor: pointer;
    background: #eee;
}

/***
时间区域查询
***/
.input-date-range{
  width: 380px !important;
}

.input-date-range .help-block:nth-last-child(1){
    color: red;
    display:table-row;
}

.win-size .help-block{
    display:inline-block;
}

/***
ztree
***/
.ztree li span.button.add {
    margin-left: 2px;
    margin-right: -1px;
    background-position: -144px 0;
    vertical-align: top;
    *vertical-align: middle
}
.ztree li span.button.search {
    margin-left: -1px;
    margin-right: -5px;
    background-position: -110px -32px;
    vertical-align: top;
    *vertical-align: middle
}

/***
保持垂直居中
.radio-list, .checkbox-list{
	padding: 6px 0px;
}
***/
.form-horizontal .control-label{
    font-size: 14px;
}


/***
放大modal框
***/
.modal-dialog {
	width: 1000px;
	margin: 10px auto;
}

/***
table-tool-bar
***/
.table-toolbar button {
	margin-right: 8px;
}
.table-toolbar-tip{
	padding: 5px 14px;
	float: left;
}


.browser-wrap:before, .browser-wrap:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.browser-wrap:after {
	clear: both;
}


.browser-wrap {
	zoom: 1;
	background: #DC3228;
	margin-bottom: 15px;
	border: 1px solid #c62d24;
	padding: 20px 30px;
	color: white;
	font-size: 120%;
	font-family: "lemonde-courrier-1","lemonde-courrier-2", Helvetica, Arial, sans-serif;
	text-shadow: 0 2px 0 #c62d24;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 0 1px #e66f68;
	-moz-box-shadow: inset 0 0 0 1px #e66f68;
	-o-box-shadow: inset 0 0 0 1px #e66f68;
	-ms-box-shadow: inset 0 0 0 1px #e66f68;
	box-shadow: inset 0 0 0 1px #e66f68;
}

.browser-status-text {
	float: left;
	width: 80%;
}

.browser-status-action {
	float: right;
	width: 18%;
	text-align: right;
	margin-right: -10px;
}
.browser-status-action a {
	display: block;
	background: #333;
	border: 1px solid #222;
	color: #efefef;
	text-align: center;
	padding: 5px 10px;
	margin: -5px 0;
	text-shadow: 0 -2px 0 #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
.browser-status-action a:hover {
	background: #3a3a3a;
	border: 1px solid #333;
	color: #fff;
	text-shadow: 0 -2px 0 #111;
	-webkit-box-shadow: inset 0 1px 3px #464646;
	-moz-box-shadow: inset 0 1px 3px #464646;
	-o-box-shadow: inset 0 1px 3px #464646;
	-ms-box-shadow: inset 0 1px 3px #464646;
	box-shadow: inset 0 1px 3px #464646;
}
.browser-status-action a:active {
	background: #2a2a2a;
	color: #ddd;
	text-shadow: 0 -2px 0 #000;
	-webkit-box-shadow: inset 0 1px 3px #1a1a1a;
	-moz-box-shadow: inset 0 1px 3px #1a1a1a;
	-o-box-shadow: inset 0 1px 3px #1a1a1a;
	-ms-box-shadow: inset 0 1px 3px #1a1a1a;
	box-shadow: inset 0 1px 3px #1a1a1a;
}

.form-horizontal .form-control-static{
    padding-top:8px;
}


/*搜索工具条，单文本框情况下左侧边距问题*/
.form-inline .form-control{
    width:inherit;
}

.form_item_clean{
	position: absolute;
	right: 2px;
	top: 10px;
	width: 12px;
	height: 12px;
	z-index: 9999;
	cursor: pointer;
	background: url("/static/img/form_item_clean.png") no-repeat left center;
}

/*ztree*/
.checkbox_true_full{
	display: inline-block !important;
}
.select2-container{
	width: 100% !important;
}

.error{
	color:red;
}

#searchformregion .select2-container {
    z-index:0;
    width:105px !important;
}

/*bootstrap.min.css*/
.input-group-addon {
    border: 1px solid #e5e5e5;
}

.input-group .form-control {
    z-index: auto;
}

.search-item .select2-container{
    width: 110px !important;
}